.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'left header right'
    'left main right'
    'left footer right';
    background-color: #2196F3;
    width: 100vw;
    height: 100vh;
}

.grid-container > div {
    text-align: center;
    font-size: 30px;
}

label { 
    width: 100px; 
    display:inline-block
}

h1 {
    text-align: center;
}

div {
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    height: 60px;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(-90deg);
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}  

.slider::-moz-range-thumb {
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .record {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .record:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .record {
    background-color: red;
  }
  
  input:focus + .record {
    box-shadow: 0 0 1px red;
  }
  
  input:checked + .record:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .record.round {
    border-radius: 34px;
  }
  
  .record.round:before {
    border-radius: 50%;
  }